<% layout('layouts/boilerplate')%>
    <h1> Previous Launch Information </h1>
    <div class="row">
        <% for (let launch in launchData) { %>
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="<%=launchData[launch].links.mission_patch_small%>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">
                        <%=launchData[launch].flight_number%> - <%=launchData[launch].mission_name%>
                    </h5>
                    <p class="card-text">
                        <%=launchData[launch].details%>
                    </p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Mission Year: <%=launchData[launch].launch_year%>
                    </li>
                    <li class="list-group-item">Rocket Used: <%=launchData[launch].rocket.rocket_name%>
                    </li>
                    <li class="list-group-item">Launched From: <%=launchData[launch].launch_site.site_name_long%>
                    </li>
                </ul>
                <div class="card-body">
                    <a href="<%=launchData[launch].links.wikipedia%>" class="card-link">Wikipedia</a>
                    <a href="<%=launchData[launch].links.video_link%>" class="card-link">Video Link</a>
                </div>
            </div>
            <% } %>
    </div>