<% layout('layouts/boilerplate')%>
    <h1> Upcoming Launch Information </h1>
    <div class="row d-inline-flex justify-content-around">
        <% for (var i=0 ;i<launchData.length; i++) { %>
            <div class="card ml-3 mb-2" style="width: 18rem;">
                <%if(launchData[i].links.patch.small){ %>
                    <img class="card-img-top" src="<%=launchData[i].links.patch.small%>" alt="Mission Patch">
                    <%} else {%>
                        <img class="card-img-top"
                            src="https://upload.wikimedia.org/wikipedia/commons/f/f2/SpaceX_Crew_Dragon_docking_with_the_International_Space_Station.jpg"
                            alt="">
                        <%}%>
                            <div class="card-body">
                                <h5 class="card-title">
                                    <%=launchData[i].flight_number%> - <%=launchData[i].id%>
                                </h5>
                                <p class="card-text">
                                    <%=launchData[i].details%>
                                </p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Mission Year: <%=launchData[i].date_utc%>
                                </li>
                                <li class="list-group-item">Rocket Used: <%=launchData[i].rocket%>
                                </li>
                                <li class="list-group-item">Launched From:
                                    <%=launchData[i].launchpad%>
                                </li>
                            </ul>
                            <div class="card-body">
                                <%if(launchData[i].links.wikipedia){ %>
                                    <a href="<%=launchData[i].links.wikipedia%>" class="card-link">Wikipedia</a>
                                    <%}%>
                                        <%if(launchData[i].links.webcast){ %>
                                            <a href="<%=launchData[i].links.webcast%>" class="card-link">Video
                                                Link</a>
                                            <%}%>

                            </div>
            </div>
            <% } %>
    </div>